html {
    -ms-touch-action: none;
    -ms-user-select: none;
}
body {
    position: absolute;
    width: 1054px;
    height: 648px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 4px solid black;
    font: 11px "Segoe UI", "Segoe", "Helvetica", sans-serif;
}
.screen {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 1024px;
    height: 624px;
}
.panel {
    position: absolute;
}
.subPanel {
    position: absolute;
}
#panelTop {
    left: 0px;
    top: 0px;
    width: 1024px;
    height: 100px;
}
#panelMid {
    left: 0px;
    top: 108px;
    width: 1024px;
    height: 448px;
}
#panelBottom {
    left: 0px;
    top: 564px;
    width: 1024px;
    height: 64px;
}
#panelAd {
    left: 0px;
    top: 0px;
    width: 248px;
    height: 100px;
    background-color: white;
    border-color:purple;
    text-align:center;
    vertical-align:central;
}
#panelPieceHints {
    left: 256px;
    width: 512px;
    height: 100px;
}

#panelWaveProgress {
    left: 776px;
    top: 0px;
    width: 248px;
    height: 100px;
}
#waveProgressUI {
}
#progressIndicator {
    display: none;
    border: 5px solid green;
    height: 15px;
    position: absolute;
    top: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 15px;
}
.subWaveBar {
    border: 5px yellow solid;
    border-radius: 15px;
    height: 5px;
    position: absolute;
    top: 10px;
    width: 5px;
}
#progressBar {
    position: absolute;
    background: blue;
    height: 35px;
    width: 100%;
}
#panelBlackSquare {
    left: 0px;
    top: 0px;
    width: 198px;
    height: 448px;
}
#panelBlockers {
    left: 218px;
    top: 0px;
    width: 30px;
    height: 448px;
    background-color: #ddd;
}
#panelBlockers .blocker {
    width: 30px;
    height: 56px;
    border: 4px solid white;
}
#panelGameBoard {
    top: 0px;
    width: 768px;
    height: 448px;
    overflow: hidden;
    padding-left: 256px;
}
#panelSocial {
    padding: 20px;
    left: 0px;
    top: 0px;
    width: 248px;
    height: 64px;
    box-sizing: border-box;
    text-align: center;
}
#panelSliders {
    left: 256px;
    top: 0px;
    width: 512px;
    height: 64px;
    padding: 0px;
    margin: 0px;
}
.sliderButtons {
    float: left;
    margin: 6px;
    padding: 15px 8px 1px 8px;
    width: 32px;
    height: 32px;
    border:2px solid green;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}
#panelButtons {
    left: 776px;
    height: 64px;
    width: 248px;
    text-align: center;
}
#pauseButton {
    display: inline-block;
    margin: 6px;
    padding: 15px 8px 1px 8px;
    width: 32px;
    height: 32px;
    border:2px solid green;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

#templates {
    display: none;
}
.shape {
    width: 48px;
    height: 48px;
    position: absolute;
}
.path {
    stroke-width: 4px;
}
.rail {
    width: 64px;
    float: left;
    position: relative;
}
.slot {
    float: left;
    width: 64px;
    height: 64px;
    padding: 6px;
    box-sizing: border-box;
    border-right: 1px solid black;
}
.slot .shape .path {
    stroke-width: 2px;
    fill-opacity: 1;
}
#blackSquare {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 100px;
    width: 100px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

/* Popup Manager related styles */
#popupManager {
    display: none;
    position: fixed;
    width: 1054px;
    height: 648px;
}
#popupManager .popup {
    display: none;
    width: 100%;
    height: 100%;
}

#popupManager.visible {
    display: table;
}
#popupManager.visible .popup.visible {
    display: table-cell;
}

#popupIntro {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
}
#popupIntro_Malevich {
    display: inline-block;
    background-color: black;
    width: 412px;
    height: 412px;
}

#popupCredits {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    vertical-align: middle;
}

#popupLevel, #popupPause {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    vertical-align: middle;
}

#popupManager .popupFrame {
    display: inline-block;
    width: 912px;
    height: 512px;
    background-color: beige;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
}

#popupCredits_Table {
    margin-top: 30px;
    width: 100%;
}
.popupCredits_Title {
    font-family: Calibri;
    font-weight: bold;
    font-size: 28pt;
}

#popupLevel_Frame {
    text-align: left;
}

#popupLevel_Title {
    text-align: center;
    font-size: 36pt;
    font-weight: bold;
}

#popupLevel_StudentTitle {
    padding-left: 60px;
    margin-top: 30px;
    font-size: 24pt;
    font-weight: bold;
}
#popupLevel_StudentSaying {
    margin-left: 100px;
    display: inline-block;
    width: 300px;
    font-size: 18pt;
    font-style: italic;
}
#popupLevel_MasterTitle {
    padding-left: 300px;
    margin-top: 30px;
    font-size: 24pt;
    font-weight: bold;
}
#popupLevel_MasterSaying {
    display: inline-block;
    margin-left: 340px;
    width: 300px;
    font-size: 18pt;
    font-style: italic;
}

#popupLevel_Enlightened {
    position: absolute;
    bottom: 80px;
    right: 140px;
    font-size: 24pt;
    font-style: italic;
}

#popupPause_Saying {
    display: inline-block;
    margin-top: 200px;
    width: 400px;
    font-size: 24pt;
    font-style: italic;
}
